<!DOCTYPE html>
<html>
<head>
  <title>GlysellinTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class='header'>
      <div class="login-links">
        <% if current_user %>
          <%= button_to 'Log out', destroy_user_session_path, method: 'delete', class: 'btn login pull-right' %>
          
        <% else %>
          <%= link_to 'Sign in', new_user_session_path, class: 'btn login pull-right' %>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn login pull-right' %>
        <% end %>
      </div>
      <%= link_to 'home', root_path %>
      <div class="cart">
        <%= render partial: "glysellin/cart/cart", locals: { cart: @cart } %>
      </div>
    </div>
    <%= render partial: "layouts/flash_notice" %>  
    <%= yield %>
  </div>
  
</body>
</html>
