!!!
%html
  %head
    %title GlysellinTest
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .container
      .navbar
        .navbar-inner
          = link_to "Glysellin Test App", "/", class: "brand"
          %ul.nav
            %li
              = link_to 'Home', root_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", "data-hover" => "dropdown", "data-delay" => "500", "data-close-others" => "false"}
                Custom
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => bootstrap_path } Bootstrap
                %li
                  %a{:href => fuelux_path } FuelUX
                %li
                  %a{:href => glyph_path } Glyph

            - if current_user
              %li
                = button_to 'Log out', destroy_user_session_path, method: 'delete', class: 'btn login pull-right'
            - else
              %li
                = link_to 'Sign in', new_user_session_path, class: 'login pull-right'
              %li
                = link_to 'Sign up', new_user_registration_path, class: 'login pull-right'
            %li.divider-vertical
          .pull-right{:style => "padding-top:10px;"}
            = render_cart(@cart)
      = render partial: "layouts/flash_notice"
      = yield